<!DOCTYPE html>
<!--suppress ALL -->
<html lang="pt-br" xmlns:th="https://www.thyneleaf.org">
<link href="css/utils/estilo-geral.css" rel="stylesheet">
<link href="css/relatorio/atividade/monitoramento-atividade.css" rel="stylesheet">
<link href="css/programacao/vertical/programacao-vertical.css" rel="stylesheet">
<link href="css/programacao/vertical/tela-programacao.css" rel="stylesheet">
<script src="js/plugins/bootstrap-table/bootstrap-table-filter-control.min.js"></script>
<head>
    <title>Monitoramento de Atividades</title>
</head>

<div class="container-monitoramento-atividade">
    <div class="head-monitoramento-atividade" style="margin-top:-5px;width: 100%;">
        <div class="month-indicator" style="margin-left: -2px;width: max-content;">
            <time class="titulo-monitoramento-atividade" datetime="2020-02"> Monitoramento de Atividades</time>
        </div>
        <div class="load" style="margin-bottom: -24px;">
            <img src="img/utilitarios/Spinner-3.gif" style="width: 50px; margin-left: 40%; margin-top:-5%;" alt="carregando">
        </div>
        <hr class="sidebar-divider my-0" style="margin-top: 7px;margin-left: 0;width: auto;">
        <div class="calendar">
            <div class="indicatore1" style="z-index: 1;">
                <form method="post">
                    <label class="descritivo-filtro">Ano Base</label>
                    <select class="select-mult" data-actions-box="true" data-style="btn-primary" id="anoBase"
                            onChange=""
                            title="Selecione">
                        <option th:each="ano : ${anos}"
                                th:selected="${ano} == ${#dates.year(#dates.createNow())}"
                                th:utext="${ano}"
                                th:value="${ano}"></option>
                    </select>
                </form>
            </div>
            <div class="indicatore2">
                <div class="selectBox">
                    <form method="post">
                        <label class="descritivo-filtro">Escritórios</label>
                        <select class="select-mult" data-actions-box="true" data-style="btn-primary"
                                data-width="213px" id="colaboradorEscritorio" multiple
                                onChange="loadList('monitoramento/relatorio')"
                                title="Selecione">
                            <option value="SP">São Paulo</option>
                            <option value="BSB">Brasília</option>
                            <option value="BH">Belo Horizonte</option>
                            <option value="CSA">CSA</option>
                            <option value="TI">TI</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="indicatore3" style="z-index: 1;">
                <form method="post">
                    <label class="descritivo-filtro">Tipo de Serviço</label>
                    <select class="select-mult" data-actions-box="true" data-style="btn-primary" data-width="150px"
                            id="tipoServico" multiple onChange="loadList('monitoramento/relatorio')"
                            title="Selecione">
                        <option selected>AC</option>
                        <option selected>AE</option>
                        <option selected>ES</option>
                        <option selected>TI</option>
                        <option>CSA</option>
                        <option>TREINAMENTO (TR)</option>
                        <option value="FERIAS">FÉRIAS (FR)</option>
                        <option value="LICENCA">LICENÇAS (LI)</option>
                        <option value="COMPENSACAO">COMPENSAÇÃO (CP)</option>
                        <option>ACOMPANHAMENTO (ACM)</option>
                        <option>RESERVA (RE)</option>
                    </select>
                </form>
            </div>

            <div class="indicatore4" style="z-index: 1;">
                <form method="post">
                    <label class="descritivo-filtro">Mês</label>
                    <select class="select-mult" data-actions-box="true" data-style="btn-primary" data-width="150px"
                            id="mes"
                            multiple onChange="loadList('monitoramento/relatorio')"
                            title="Selecione">
                        <option value="1">Janeiro</option>
                        <option value="2">Fevereiro</option>
                        <option value="3">Março</option>
                        <option value="4">Abril</option>
                        <option value="5">Maio</option>
                        <option value="6">Junho</option>
                        <option value="7">Julho</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                </form>
            </div>

            <div class="indicatore6">
                <button id="btnExport" style="margin-top: 3px;">Exportar Tabela em Excel</button>
            </div>
        </div>
    </div>

        <div style="margin-bottom: 0; background:white;margin-top: -89px;width: 100%;">
            <div class="card-body" style="font-size: 12px;padding: 0;">

                <div class="table-responsive fixTableHead" style="width: 1975px;">
                    <table aria-label="tabela-dados" class="table display tablesorter tabela-plugin" data-toggle="table" data-toolbar="#toolbar"
                           id="dados" style="color: white;">
                        <thead>
                        <tr>
                            <th class="centro" data-field="cnpjCliente" data-sortable="true" data-width="89"
                                scope="col"> CNPJ <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="codCentral" data-sortable="true" data-width="89"
                                scope="col"> Número Central <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="numCoop" data-sortable="true" data-width="89"
                                scope="col"> Número Cooperativa <em class="fas fa-sort"></em></th>
                            <th data-field="siglaCoop" data-sortable="true" data-width="120" scope="col">Sigla
                                Cooperativa <em
                                        class="fas fa-sort"></em></th>
                            <th class="centro" data-field="escritorio" data-sortable="true" data-width="80" scope="col">
                                Escritório
                                <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="tipoServico" data-sortable="true" data-width="85"
                                scope="col">Tipo Serviço <em
                                    class="fas fa-sort"></em></th>
                            <th class="centro" data-field="escopo" data-sortable="true" data-width="85" scope="col">
                                Escopo <em
                                    class="fas fa-sort"></em></th>
                            <th class="centro" data-field="horasVendidas" data-sortable="true" data-width="80"
                                scope="col">Horas Vendidas
                                <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="dtInicio" data-sortable="true" data-width="95" scope="col"
                                data-formatter="dataAtualFormatada">
                                Data início de programação
                                <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="dtFim" data-formatter="dataAtualFormatada"
                                data-sortable="true" data-width="95"
                                scope="col">
                                Data final de programação<em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="dtFimPrev" data-sortable="true" data-width="95" scope="col"
                                data-formatter="dataAtualFormatada">
                                Data final auditoria <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="dtMaxEmiRac" data-sortable="true" data-width="105"
                                data-formatter="dataAtualFormatada"
                                scope="col">Data Limite Emissão do RAC <em
                                    class="fas fa-sort"></em></th>
                            <th class="centro" data-field="statusRac" data-sortable="true" data-width="89" scope="col">
                                Status do
                                RAC <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="nota" data-sortable="true" data-width="85" scope="col">
                                Nota <em class="fas fa-sort"></em></th>
                            <th data-field="avaliacaoPreenchida" data-sortable="true" data-width="89" scope="col" class="centro">
                                Avaliação Preenchida <em
                                    class="fas fa-sort"></em></th>
                            <th class="centro" data-field="emissaoRac" data-sortable="true" data-width="105" data-formatter="dataAtualFormatada"
                                scope="col">Data de emissão do RAC <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="envioRAC" data-sortable="true" data-width="105" data-formatter="dataAtualFormatada"
                                scope="col">Data de envio do RAC <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="executado" data-sortable="true"
                                data-width="100"
                                scope="col">% Executado <em class="fas fa-sort"></em></th>
                            <th class="centro" data-field="revisado" data-sortable="true" data-width="100"
                                scope="col">% Revisado <em class="fas fa-sort"></em></th>
                            <th class="centro dataRAC" data-field="status" data-sortable="true" data-width="100" scope="col">
                                Status <em class="fas fa-sort"></em></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

<script src="js/generic/monta-tabela.js"></script>
<script src="js/generic/send-post.js"></script>
<script src="js/generic/get-filters.js"></script>
<script src="js/generic/load-modal.js"></script>
<script src="js/generic/eventBootstrapTable.js"></script>
<script src="js/monitoramento/funcoes.js"></script>
<script src="js/utils/funcoesUteis.js"></script>
<script src="js/plugins/table2excel/jquery.table2excel.js"></script>
<script src="js/utils/exportTableToExcel.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>

<script>
    $(document).ready(function () {
        $('.select-mult').selectpicker();
        loadList("monitoramento/relatorio");


        $('#btnExport').on('click', function (e) {
            e.preventDefault();
            Export('dados', 'monitoramento-atividade');
        });
    });

    $(function () {
        $('#dados').bootstrapTable()
    })
</script>

