<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Novidades</title>
    <link href="css/utils/estilo-geral.css" rel="stylesheet">
    <link href="css/utils/saiba-mais.css" rel="stylesheet"/>
</head>
<body>
<div class="container-saiba-mais" style="transition: 0.3s;">
    <div class="saiba-mais">
        <h1 class="titulo-saiba-mais">Novidades!</h1>
        <div style="text-align-last: left;">
            <p class="titulo-topico"> 1. Agora você pode escolher as colunas apresentadas, além de esolher outros
                formatos para exportar: </p>

            <p class="topico"><span class="negrito sem-espaco">a)   “Escolher Colunas”:</span> Agora é possível escolher
                quais colunas
                serão apresentadas na programação. Algumas já foram escondidas por padrão para facilitar a visualização.
            </p>

            <p class="topico"><span class="negrito sem-espaco"> b)   “Exportar”:</span> Agora é possível exportar em
                outros formatos.
                <span class="negrito"> Obs: </span> O arquivos será exportado com as colunas escolhidas para serem
                apresentadas.
            </p>

            <div class="alinha-imagem">
                <p class="texto intro-imagem"> Imagem 1 – Programação Horizontal atualizada:</p>
                <img alt="cadastro-programacao" src="img/Novidades/Novidade 9-6-2022/gif1.gif">
            </div>
            <div class="pula-espaco"></div>

            <p class="titulo-topico"> 2. A programação foi repaginada de modo a simplificar as informações : </p>

            <p class="topico"><span class="negrito sem-espaco">a)   “Escopos”:</span> Agora os escopos são mostrados
                pelo "apelido" <span class="">(é possível
                solicitar a mudança, caso seja necessário)</span>. O apelido dos escopos do Bacen são os mesmos do
                número do escopo.
                Exemplo: "Escopo 111 - Prudencial", torna-se "111". Os demais escopos foram criados novos apelidos, por
                exemplo:
                "Escopo 9999 - Auditoria Especial Produtos/Servicos - Banco Sicoob", tornou-se "PBS".
            </p>

            <div class="alinha-imagem">
                <p class="texto intro-imagem"> Imagem 2 – Escopos:</p>
                <img alt="cadastro-programacao" src="img/Novidades/Novidade 9-6-2022/imagem1.jpg">
            </div>
            <div class="pula-espaco"></div>

            <div style="text-align-last: left;">
                <p class="titulo-topico"> 3. Agora os gestores e colaboradores possuem colunas próprias: </p>


                <div class="alinha-imagem">
                    <p class="texto intro-imagem"> Imagem 3 – Coluna de atores:</p>
                    <img alt="cadastro-programacao" src="img/Novidades/Novidade 9-6-2022/imagem2.jpg"
                         style="width: 85%;">
                </div>
                <div class="pula-espaco"></div>

                <div style="text-align-last: left;">
                    <p class="titulo-topico"> 4. Os nomes dos atores da programação foram simplicaficados, de modo
                        aparece apenas o Nome e Sobrenome: </p>


                    <div class="alinha-imagem">
                        <p class="texto intro-imagem"> Imagem 4 – Nomes simplificados:</p>
                        <img alt="cadastro-programacao" src="img/Novidades/Novidade 9-6-2022/imagem3.jpg">
                    </div>
                    <div class="pula-espaco"></div>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
