<!DOCTYPE html>
<html lang="pt-br"
>
<head>
    <title>Sem acesso</title>
    <link href="css/utils/estilo-geral.css" rel="stylesheet">
    <link href="css/utils/sem-acesso.css" rel="stylesheet"/>
</head>
<body>
<div class="container-sem-acesso">
    <div class="sem-acesso">
        <figure>
            <img alt="sem acesso" src="img/icones/icone-sem-acesso.png" style="width: 30%;">
            <figcaption class="titulo-sem-acesso">Sem acesso</figcaption>
        </figure>
    </div>
</div>
</body>
</html>
