<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Lista Configuração</title>
</head>

<body>
<div class="container1" id="tabela">

    <div class="titulo">
        <h2>Parâmetros</h2>
    </div>

    <table aria-label="tabela-configuracoes" class="table table-hover" id="tabela-configuracao">
        <thead>
        <tr>
            <th scope="col">Peso Horas CSA</th>
            <th scope="col" style="padding-left: 0;">Horas Destinadas ao CSA</th>
            <th scope="col">Horas destinadas a Revisão</th>
            <th scope="col">Horas destinada a auditores</th>
            <th scope="col" style="padding-left: 0;">Dias de revisão</th>
            <th scope="col">Dias entrega RAC</th>
            <th scope="col">Data Corte</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody id="tBody">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a><em class="fas fa-trash-alt" style="cursor:pointer;"></em></a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>