<!DOCTYPE html>

<!--suppress ALL -->
<html lang="pt-br" xmlns:th="https://www.thyneleaf.org">
<head>
    <link href="css/utils/estilo-geral.css" rel="stylesheet">
    <link href="css/escopo/cadastro-escopo.css" rel="stylesheet">
    <title>Cadastro Escopo</title>
</head>
<body>
</body>
<div class="container-escopo">

    <div class="cadastro-escopo">
        <h2 style="width: 96%;">Cadastro de Escopo
            <div class="load load-escopo">
                <img src="img/utilitarios/Spinner-3.gif" style="width: 50px;" alt="carregando">
            </div>
        </h2>
        <hr class="sidebar-divider my-0" style="margin-top: 7px;margin-left: 0;width: auto;">

        <form action="/escopo/add" class="form-group" id="myform" method="post" th:object="${escopo}" url="escopo/list" style="margin-top: 25px;">
            <div class="dashboard-contenier" id="errnumEscopo">
                <label for="numEscopo">Escopo</label>
                <input class="form-control" id="numEscopo" th:field="*{numEscopo}">
            </div>
            <div class="dashboard-contenier" id="errtipoEscopo">
                <label for="tipoEscopo">Tipo de Escopo</label>
                <input class="form-control" id="tipoEscopo" th:field="*{tipoEscopo}">
            </div>
            <div class="dashboard-contenier" id="erraplicacao">
                <label for="aplicacao">Aplicação</label>
                <input class="form-control" id="aplicacao" th:field="*{aplicacao}">
            </div>

            <div class="dashboard-contenier" id="errescopoAgregador">
                <label for="escopoAgregador">Escopo Agregador</label>
                <input class="form-control" id="escopoAgregador" th:field="*{escopoAgregador}">
            </div>

            <div class="dashboard-contenier" id="apelido">
                <label for="apelido">Apelido</label>
                <input class="form-control" id="apelido" th:field="*{apelido}">
            </div>

            <button class="btn btn-dark" style="margin-top: 10px; margin-bottom: 20px;" type="submit">Salvar</button>
        </form>
    </div>

    <h2 style="margin-bottom: -10px;width: 96%;"> Escopos
        <button id="btnExport" style="width: 177px;float: right">Exportar Tabela em Excel</button>
    </h2>
    <div class="container1 tabela-escopo" id="tabela">

        <table aria-label="tabela-escopo" class="table table-hover tablesorter" id="dados" style="width: 100%;">
            <thead>
            <tr>
                <th class="centro" data-field="numEscopo" data-sortable="true" data-width="100" scope="col">Escopo <em
                        class="fas fa-sort"></em></th>
                <th data-field="tipoEscopo" data-sortable="true" scope="col" style="padding-left: 0;">Tipo do Escopo <em
                        class="fas fa-sort"></em></th>
                <th data-field="aplicacao" data-sortable="true" scope="col">Aplicação <em class="fas fa-sort"></em></th>
                <th class="centro" data-field="escopoAgregador" data-sortable="true" data-width="150" scope="col">Escopo
                    Agregador <em class="fas fa-sort"></em></th>
                <th class="centro" data-field="apelido" data-sortable="true" data-width="150" scope="col">Apelido <em class="fas fa-sort"></em></th>
                <th class="lixo-escopo" data-events="operateEvents" data-field="operate"
                    data-formatter="operateFormatter"
                    data-width="95">Operações
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

</html>
<script src="js/escopo/funcoes.js"></script>
<script src="js/generic/send-entity.js"></script>
<script src="js/generic/send-post.js"></Script>
<script src="js/generic/get-filters.js"></Script>
<script src="js/generic/send-delete.js"></Script>
<script src="js/generic/monta-tabela.js"></script>
<script src="js/plugins/table2excel/jquery.table2excel.js"></script>
<script src="js/utils/exportTableToExcel.js"></script>

<script>

    $(document).ready(function () {
        $('.select-mult').selectpicker();
        loadList("escopo/list");

        $('#btnExport').on('click', function (e) {
            e.preventDefault();
            Export('dados', 'escopos');
        });

    });
</script>

<script>

    function operateFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Editar">',
            '<i class="fas fa-pen"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Excluir">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('')
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            setValues(row)
        },
        'click .remove': function (e, value, row, index) {
            deleteEscopo(row.numEscopo)
        }
    }

    $(function () {
        $('#dados').bootstrapTable()
    })

</script>
