<!DOCTYPE html>
<!--suppress ALL -->
<html lang="pt-br" xmlns:th="https://www.thyneleaf.org">
<head>
    <title>Edição de Programação</title>
    <link href="css/utils/estilo-geral.css" rel="stylesheet">
    <link href="css/programacao/edicao/editar-programacao.css" rel="stylesheet">
    <link rel="stylesheet" href="css/plugins/litepicker/litepicker.css">
</head>

<body>
<div aria-hidden="true" aria-labelledby="myExtraLargeModalLabel" class="modal fade bd-example-modal-xl" id="myModal"
     role="dialog">
    <div class="modal-dialog modal-xl" style="max-width: 1120px;">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 5px;">
                <h1 class="titulo-cadastro1">Edição de Programação</h1>
                <button aria-label="Fechar" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="padding:12px;">
                <div class="container-programacao-conteudo">
                    <div class="box-info-editar box-info" style="margin-bottom: 2px;">
                        <div class="box-info-grid row-fluid">
        
                            <div class="col-md-2">
                                <span class="title-box selecao-arquivo titulo-tabelinha" style="font-size: 14px;" data-toggle="tooltip" data-placement="top" title="Quantidade de dias úteis contratados selecionados, já deduzido horas de revisão e CSA se aplicável. (com base nas atividades selecionadas)">Dias úteis contratados<em class="fas fa-info icone-configuracoes" ></em></span>
                                <strong class="value-box titulo-tabelinha" id="diasSelecionados" style="font-weight: 300;">0</strong>
                            </div>
                            <div class="col-md-2">
                                <span class="title-box selecao-arquivo titulo-tabelinha" data-toggle="tooltip" style="font-size: 14px;" data-placement="top" title="Dias úteis alocados nesta(s) atividade(s), considerando esta programação e a(s) já cadastrada(s), se houver">Dias úteis programados<em class="fas fa-info icone-configuracoes" ></em></span>
                                <strong id="diasProgramados"  class="value-box titulo-tabelinha" style="font-weight: 300;">0</strong>
                            </div>
                            <div class="col-md-2">
                                <span class="title-box selecao-arquivo titulo-tabelinha" style="font-weight: bold;font-size: 14px;" data-toggle="tooltip" data-placement="top" title="Saldo de Dias = (Dias úteis Contratados) - (Dias úteis Programados)">Saldo de Dias<em class="fas fa-info icone-configuracoes" ></em></span>
                                <strong id="saldoDias"  class="value-box titulo-tabelinha">0</strong>
                            </div>
                        </div>
                    </div>
                    <div class="cadastro">
                        <form class="form-row" id="myform" method="post"
                              th:object="${programacao}">
                            
                            
                            
                              <div class="form-row align-items-center">
                                <div class="form-group-edicao coluna-programacao-editar">
                                    <label for="idProgramacao" class="titulo-cadastro" style="margin-top: 10px;">ID Programação</label>
                                    <input class="form-control" id="idProgramacao" th:field="*{id}" type="text" th:inline="text">
                                </div>

                                <div class="form-group-edicao coluna-programacao-editar">
                                    <label for="dtBase" class="titulo-cadastro" style="margin-top: 10px;">Data Base Amostra</label>
                                    <input class="form-control" id="dtBase" th:field="*{dtBase}" type="text" th:inline="text">
                                </div>

                                <div class="form-group-edicao coluna-programacao-editar">
                                    <label class="titulo-cadastro" for="amostraGerada" style="margin-top: 10px;">Amostra Gerada?</label>
                                    <select class="form-control" id="amostraGerada" name="amostraGerada">
                                        <option value="true" >SIM</option>
                                        <option value="false">NÃO</option>
                                    </select>
                                </div>

                                <div class="form-group-edicao coluna-programacao-editar">
                                    <label for="atraso" class="titulo-cadastro" style="margin-top: 10px;">Dias de atraso</label>
                                    <input class="form-control" id="atraso" th:field="*{atraso}" type="text" th:inline="text">
                                </div>
                                <div class="form-group-edicao coluna-programacao-editar" style="margin-right: 0;">
                                    <label for="anoBaseCadastro" class="titulo-cadastro" style="margin-top: 10px;">Ano base</label>
                                    <select class="form-control" id="anoBaseCadastro" onchange="loadAtividades()"
                                            th:field="*{anoBase}">
                                        <option th:each="ano : ${anoBase}"
                                                th:utext="${ano}"
                                                th:value="${ano}"></option>
                                    </select>
                                </div>
                                <div class="form-group-edicao coluna-programacao-editar">
                                    <label for="tipoVisita" class="titulo-cadastro">Tipo Visita</label>
                                    <select class="form-control" id="tipoVisita">
                                        <option class="bs-title-option" value="selecione">Selecione</option>
                                        <option th:value="Home_office">Home office</option>
                                        <option th:value="Presencial">Presencial</option>
                                        <option th:value="Híbrido">Híbrido</option>
                                    </select>
                                </div>
                                <div class="form-group-edicao coluna-programacao-editar">
                                    <label class="titulo-cadastro" for="tipoServicoCadastro">Tipo Serviço</label>
                                    <select class="form-control" id="tipoServicoCadastro" onchange="onChangeServico()">
                                        <option disabled class="bs-title-option" value="selecione">Selecione</option>
                                        <option>AC</option>
                                        <option>AE</option>
                                        <option>ES</option>
                                        <option>TI</option>
                                        <option>CSA</option>
                                        <option value="FERIAS">FÉRIAS</option>
                                        <option value="LICENCA">LICENÇA</option>
                                        <option>TREINAMENTO</option>
                                        <option value="COMPENSACAO">COMPENSAÇÃO</option>
                                        <option>ACOMPANHAMENTO</option>
                                        <option>RESERVA</option>
                                    </select>
                                </div>
                                <div class="form-group-edicao coluna-programacao-editar">
                                    <label class="titulo-cadastro" for="escritorio">Escritório</label>
                                    <select class="form-control" id="escritorio">
                                        <option class="bs-title-option" value="selecione">Selecione</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="BSB">Brasília</option>
                                        <option value="BH">Belo Horizonte</option>
                                        <option value="CSA">CSA</option>
                                        <option value="TI">TI</option>
                                    </select>
                                </div>
                                <div class="form-group-edicao coluna-programacao-editar">
                                    <label class="titulo-cadastro" for="hasCSA">Terá CSA?</label>
                                    <select onchange="onChangeColaboradores()" class="form-control" id="hasCSA">
                                        <option class="bs-title-option" value="selecione">Selecione</option>
                                        <option selected value="true" >SIM</option>
                                        <option value="false">NÃO</option>
                                    </select>
                                </div>
                                <div class="form-group-edicao coluna-programacao-editar" style="margin-right: 0;" id="errClienteDisp">
                                    <label for="clienteDisp" class="titulo-cadastro">Cliente</label>
                                    <select class="form-control select-mult" id="clienteDisp" data-live-search="true" 
                                    onchange="loadAtividades()"
                                            th:field="*{cnpjCliente}">
                                        <option class="bs-title-option" value="selecione">Selecione</option>
                                        <option th:each="cliente : ${clientes}"
                                                th:utext="${cliente.getNumCoop} + ' - ' + ${cliente.getSiglaCoop}"
                                                th:value="${cliente.getCnpjCliente}"></option>
                                    </select>
                                </div>
                                <div class="form-group-edicao coluna-programacao-editar atividades" id="atividadesForm">
                                    <label for="atividadesForm" class="titulo-cadastro" style="margin-top: 10px;">Atividades</label>
                                    <select class="form-control select-mult" data-actions-box="true"
                                            data-live-search="true" id="atividades"
                                            multiple="multiple" name="atividades" required="required"
                                            onchange="onChangeAtividade()"
                                            title="Selecione uma ou mais atividades">
                                        <option class="bs-title-option" value="selecione">Selecione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group-edicao datas-edicao1">
                                <label class="titulo-cadastro" for="dtsIni" style="width: 351px;">Data de
                                    início e fim da programação</label>
                                <input  class="form-control daterange" id="dtsIni" style="width: 530px;"
                                       type="text"/>
                                       <span id="alertaParalelismo" class='alerta'></span>
                                       <span id="alertaFerias" class='alerta'></span>
                            </div>

                            
                            <div class="form-group-edicao datas-edicao2">
                                <label class="titulo-cadastro" for="dtsExec" style="width: 560px;">Data início e fim execução in loco <button class="btn" id="limpaDatas">Limpar Data in loco</button></label>
                                <input class="form-control daterange" id="dtsExec" style="width: 531px;" type="text"
                                       value=""/>
                                       <span id="alertaFeriado" class='alerta'></span>
                            </div>
                            
                            <div class="form-row" style="width:100%;">
                            <div class="form-group" id="errColaboradorResp" style="width: 100%;margin-left: -5px;margin-bottom:0;">
                                <label for="gestores" class="titulo-cadastro">Gestores</label>
                                <select class="form-control select-mult" data-actions-box="true" data-live-search="true"
                                        data-width="1076px"
                                        id="gestores" multiple name="gestores"
                                        title="Selecione um ou mais gestores">
                                        <option disabled>Diretores</option>
                                        <option th:each="d : ${diretores}"
                                                th:utext="${d.getNome()}"
                                                th:value="${d.getCpfCnpj()}"
                                                th:attr="data-valor=${d.getEmail()}, data-area=${d.getArea()}"
                                                ></option>
                                        <option data-divider="true"></option>
                                        <option disabled>Gerentes</option>
                                        <option th:each="g : ${gerentes}"
                                                th:utext="${g.getNome()}"
                                                th:value="${g.getCpfCnpj()}"
                                                th:attr="data-valor=${g.getEmail()}, data-area=${g.getArea()}"
                                                ></option>
                                        <option data-divider="true"></option>
                                        <option disabled>Supervisores</option>
                                        <option th:each="s : ${supervisores}"
                                                th:utext="${s.getNome()}"
                                                th:value="${s.getCpfCnpj()}"
                                                th:attr="data-valor=${s.getEmail()}, data-area=${s.getArea()}"
                                                ></option>
                                </select>
                            </div>
                        </div>                            
                            <div class="form-group" id="errColaboradorDisp" style="width: 100%;margin-left: -10px;margin-bottom:0;margin-top: 10px;">

                                <label class="titulo-cadastro" for="colaboradores" >Colaboradores</label>
                                <select class="form-control select-mult" data-actions-box="true" data-width="1076px"
                                        data-live-search="true"
                                        onchange="onChangeColaboradores()"
                                        id="colaboradores" multiple name="colaboradores"
                                        title="Selecione um ou mais colaboradores">

                                    <option data-divider="true"></option>
                                    <option disabled>Belo Horizonte</option>
                                    <option th:each="BH, row : ${BH}"
                                            th:text="${BH.getNome} + ' - ' + ${BH.getCargo}"
                                            th:selected="${BH.getCpfCnpj} == ${colaborador} ? true : false"
                                            th:value="${BH.getCpfCnpj}"
                                            th:attr="data-valor=${BH.getEmail()}, data-area=${BH.getArea()}"
                                
                                    ></option>
                                    <option data-divider="true"></option>
                                    <option disabled>Brasília</option>
                                    <option th:each="BSB, row : ${BSB}"
                                            th:text="${BSB.getNome} + ' - ' + ${BSB.getCargo}"
                                            th:selected="${BSB.getCpfCnpj} == ${colaborador} ? true : false"
                                            th:value="${BSB.getCpfCnpj}"
                                            th:attr="data-valor=${BSB.getEmail()}, data-area=${BSB.getArea()}"
                                            
                                    ></option>
                                    <option data-divider="true"></option>
                                    <option disabled>São Paulo</option>
                                    <option th:each="SP, row : ${SP}"
                                            th:text="${SP.getNome} + ' - ' + ${SP.getCargo}"
                                            th:selected="${SP.getCpfCnpj} == ${colaborador} ? true : false"
                                            th:value="${SP.getCpfCnpj}"
                                            th:attr="data-valor=${SP.getEmail()}, data-area=${SP.getArea()}"
                                            
                                    ></option>
                                    <option data-divider="true"></option>
                                    <option disabled>CSA</option>
                                    <option th:each="CSA, row : ${CSA}"
                                            th:text="${CSA.getNome} + ' - ' + ${CSA.getCargo}"
                                            th:selected="${CSA.getCpfCnpj} == ${colaborador} ? true : false"
                                            th:value="${CSA.getCpfCnpj}"
                                            th:attr="data-valor=${CSA.getEmail()}, data-area=${CSA.getArea()}"
                                            
                                    ></option>
                                    <option disabled>TI</option>
                                    <option th:each="TI, row : ${TI}"
                                            th:text="${TI.getNome} + ' - ' + ${TI.getCargo}"
                                            th:selected="${TI.getCpfCnpj} == ${colaborador} ? true : false"
                                            th:value="${TI.getCpfCnpj}"
                                            th:attr="data-valor=${TI.getEmail()}, data-area=${TI.getArea()}"
                                            
                                    ></option>
                                </select>
                            </div>

                        </form>
                        <div class="container-alerta-botao">
                            <span id="alertaCadastro" class='alerta'></span>
                        </div>
                        <div class="container-alerta-botao">
                        <button class="btn btn-dark" style="margin-top: 1%; margin-bottom: 36px;"
                        onclick="verificarInformacoes()" >Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="js/programacao/cadastro/eventos.js"></script>
<script src="js/programacao/cadastro/getters-setters.js"></script>
<script src="js/programacao/cadastro/send-post.js"></script>
<script src="js/programacao/cadastro/utilitarios.js"></script>
<script src="js/programacao/cadastro/select-picker-preferencias.js"></script>
<script src="js/programacao/cadastro/feriado.js"></script>
<script src="js/programacao/edicao/select-picker-preferencias.js"></script>
<script src="js/programacao/edicao/update-programacao.js"></script>
<script src="js/programacao/cadastro/alertas.js"></script>
<script src="js/programacao/cadastro/verificacoes.js"></script>

<script>
    $(document).ready(function(){
        $('.select-mult').selectpicker();
  });

</script>

<script th:inline="javascript">

$('#myModal').on('shown.bs.modal', function (e) {

    let cnpjCliente = /*[[${cnpjCliente}]]*/;
    let id = /*[[${id}]]*/;
    let anoBaseSelecionado = /*[[${anoBaseSelecionado}]]*/;

    selectpickerDtInicio();
    selectpickerExecucao(); 

    getProgramacao(id, cnpjCliente, anoBaseSelecionado);

 });
</script>
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>


</html>
